body {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    background-color:  #ffcfd8; 
    background: url('Images/background.gif') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: #ff1493; 
    text-shadow: 2px 2px 4px rgba(255, 20, 147, 0.3);
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

h2 {
  font-size: 36px;
  color: #ff1493; 
  text-shadow: 2px 2px 4px rgba(255, 20, 147, 0.3);
  display: flex;
  justify-content: center;
}

/* Slideshow container */
:root {
	--pixel-bg: #ffcfd8; /* Inner background color */
	--pixel-border: #ff1493; /* Inner border color: */
	--pixel-border-2: #ffffff; /* Middle border color: */
	--pixel-border-3: var(--pixel-border); /* Outer border color */
	--pixel: .125rem; /* Pixel size */
}
 /* pixel border */
.everything-container {
    background: var(--pixel-bg);
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
	box-shadow:
		
	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

.slideshow-container {
  background-color: transparent;
  width: 95%;
  max-width: 900px;
  height: 300px;
  max-height: 40%;
  position: relative;
  margin: 0 auto; /* I need to center this container within the pixelated border container*/
  /*margin-right: 20%;
  margin-left: 20%;*/
}

/*certificate Images*/
.mySlides {
  margin: 0;
  height: 20vh;
}

.mySlides img {
  scale: 40%;
  margin-top: -25%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: 2%;
  margin-top: 2vh;
  color: #ff1493;
  font-family: "Jersey 10", serif;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover arrows */
.prev:hover, .next:hover {
  background-color: transparent;
  color: white;
}

/* certificate names */
.text {
  color: #ff1493;
  font-size: 30px;
  margin: none;
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;
}

/* Number text (1/3) on top left */
.numbertext {
  color: #ff1493;
  font-size: 30px;
  padding: 1%;
  position: absolute;
  bottom: 1%;
}

/* buttons */
.dot {
  cursor: pointer;
  height: 8vh;
  width: 10vw;
  margin: 0 1vw;
  margin-top: 2%;
  background-color: #ff7dbe;
  border-radius: 5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
  transition: background-color 0.6s ease;
  font-size: 36px;
  color: white;
}

.active, .dot:hover {
  background-color: #ff1493;
}

.print-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.print {
  cursor: pointer;
  height: 8vh;
  width: 34vw;
  margin-top: 2%;
  background-color: #ff7dbe;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.6s ease;
  font-size: 36px;
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.print:hover {
  background-color: #ff1493;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}